@mixin flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}@mixin round-image($width,$height) {
    width: $width;
    height: $height;
    border-radius: 50%;
    object-fit: cover;
}