* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  padding-bottom: 50px;
  background-color: $background-color;
}
a {
  text-decoration: none !important;
}
ul {
  list-style: none;
}
header {
  @include flex;
  background-color: $theme;
  padding: 10px 50px;
  position: sticky;
  border-bottom: $border-light;
  top: 0;
  z-index: 999;
  .logo {
    h2 {
      color: purple;
      font-size: 38px;
      font-family: "Lacquer", cursive;
    }
  }
  .search-box {
    padding-right: 10%;
    form {
      input {
        color: $input-text-color;
        width: 300px;
        padding-left: 25px;
        height: 40px;
        border-radius: 40px;
        border: $border-light;
        background-color: $input-color;
      }
      input:focus {
        outline: 3px solid rgb(108, 184, 197);
        border: none;
      }
      button{
        border: 0;
        background-color: $theme;
        cursor: pointer;
        margin-left: 5px;
      }
        i {
          font-size: 20px;
          color: $icon-color;
          margin-left: 15px;
      }
    }
  }
  .notification {
    @include flex;
    .all-notification {
      border-left: 1px solid gray;
      padding-left: 40px;
      color: $icon-color;
      font-size: 20px;
      position: relative;
      cursor: pointer;
      i::after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: red;
        right: 0px;
        top: 0px;
      }
    }
    .message-notification {
      padding-right: 40px;
      color: $icon-color;
      font-size: 20px;
      position: relative;
      cursor: pointer;
      i::after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: green;
        left: 12px;
        top: 0px;
      }
    }
  }
  .header-profile {
    @include flex;
    gap: 5px;
    cursor: pointer;
    position: relative;
    &::selection {
      color: none;
    }
    img {
      @include round-image(35px, 35px);
      object-fit: cover;
    }
    p {
      color: $icon-color;
      &::selection {
        color: none;
      }
    }
    i {
      color: $icon-color;
    }
    .header-profile-dropdown {
      display: none;
      position: absolute;
      left: 0px;
      bottom: -170px;
      ul {
        background-color: $theme;
        padding: 15px 0;
        border-radius: 15px;
        width: 180px;
        box-shadow: 0px 0px 8px 0px rgb(193, 193, 193);
        li {
          line-height: 40px;
          padding: 0 28px;
          a {
            div {
              i {
                font-size: 25px;
              }
              p {
                display: inline;
                padding-left: 10px;
                font-size: 18px;
                color: $text-color;
              }
            }
          }
        }
      }
    }
  }
}
aside {
  width: 20%;
  height: 100vh;
  background-color: $theme;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 998;
  overflow: auto;
  .side-profile {
    margin: 100px 0 20px 0;
    .side-profile-image {
      width: 130px;
      margin: 0 auto;
      position: relative;
    }
    img {
      @include round-image(130px, 130px);
      object-fit: cover;
    }
    h4 {
      color: $text-color;
      font-size: 24px;
      text-align: center;
    }
    .side-profile-image::after {
      content: "";
      position: absolute;
      @include round-image(20px, 20px);
      border: 5px rgb(77, 77, 77) solid;
      background-color: rgb(9, 241, 9);
      right: 20px;
      bottom: 10px;
    }
  }
  nav {
    ul {
      .active {
        font-size: 24px;
        display: block;
        width: 100%;
        border-radius: 0 40px 40px 0;
        color: white;
        background-color: $btn-color;
      }
      li {
        line-height: 60px;
        width: 100%;

        a {
          font-size: 24px;
          color: $text-color;
          display: block;
          width: 100%;
          border-radius: 0 40px 40px 0;
          padding-left: 40px;
        }
      }
    }
  }
}
.container-mine {
  width: 80%;
  margin-left: 20%;
  background-color: $background-color;
}
.align-items-start{
    align-items: flex-start !important;
}
.justify-content-start{
  justify-content: flex-start !important;
}
.flex {
  @include flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.flex-start {
  align-items: start !important;
}
.notfound{
  font-size: 20px;
  text-align: center;
  color: $text-color !important;
  padding: 30px 0;
}
.show-dropdown {
  display: block !important;
}
.show-content-dropdown {
  display: block !important;
}
.content {
  background-color: $content-color;
  margin-top: 25px;
  margin-bottom: 15px;
  width: 40%;
  border-radius: 20px;
}
.content-image-show-like {
  visibility: visible !important;
  opacity: 1 !important;
  bottom: 25px !important;
}
.swiper-button-prev {
  left: 50px !important;
}
.swiper-button-next {
  right: 50px !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 150px !important;
  padding: 40px !important;
  opacity: 0;
}
.swiper-pagination {
  display: inline;
  padding: 10px !important;
  background: #373737 !important;
  border-radius: 30px !important;
}
.swiper-pagination-fraction {
  left: 85% !important;
  bottom: 84% !important;
  color: white;
  font-size: 13px;
  width: 50px !important;
}
.searchresultname{
  padding-top: 15px;

    color: $text-color;
    font-size: 20px;
}
#home {
  .container-mine {
    .content-profile {
      @include flex;
      justify-content: space-between;
      padding: 10px 30px 5px 20px;
      >div{
        a{
          display: block;
          @include flex;
          justify-content: flex-start !important;
          flex-wrap: nowrap;
        }
      }
      img {
        @include round-image(40px, 40px);
        margin-right: 10px;
        object-fit: cover;
        display: block;
      }
      p {
        color: $text-color;
      }
      i {
        color: $icon-color;
        text-align: center;
        cursor: pointer;
      }
    }
    .content-image {
      position: relative;
      .image {
        img {
          width: 100%;
        }
      }
      .likes {
        position: absolute;
        left: 20px;
        bottom: 0px;
        display: flex;
        align-items: center;
        gap: 30px;
        visibility: hidden;
        opacity: 0;
        a {
          color: white;
        }
        i {
          font-size: 32px;
          font-weight: bold;
          color: white;
          cursor: pointer;
        }
        transition: .4s;
      }
      .save {
        position: absolute;
        right: 20px;
        bottom: 0px;
        opacity: .5;
        visibility: hidden;
          i {
            color: white;
            font-size: 32px;
            cursor: pointer;
          }
        transition: .4s;
      }
    }
    .content-image:hover .likes,
    .content-image:hover .save {
      visibility: visible;
      opacity: 1;
      bottom: 25px;
      z-index: 99;
    }
    .content-info {
      padding: 0 15px;
    }
    .content-likes {
      p {
        color: $text-color;
        font-size: 12px;
      }
    }
    .content-discription {
      p {
        color: $text-color;
        font-size: 15px;
        line-height: 22px;
        margin: 5px 0;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .content-comment {
      padding-bottom: 3px;
      a {
        color: $text-color;
        font-size: 13px;
      }
    }
  }
}
#explore {
  .flex {
    align-items: stretch !important;
  }
  .content {
    width: 28%;
    &:hover{
      box-shadow: 0px 0px 10px 0px rgb(206, 206, 206);
    }
    border-radius: 30px;
    margin: 20px 0;
    .explore-img {
      margin: 25px auto 10px;
      width: 80%;
      img {
        width: 100%;
        border-radius: 5%;
        object-fit: cover;
        height: 181px;
      }
    }
    h4 {
      color: $text-color;
      margin-left: 30px;
      font-size: 24px;
    }
    p {
      color: $text-color;
      margin-left: 30px;
      font-size: 16px;
      margin-bottom: 15px;
    }
  }
}
#follow {
  .content {
    width: 27%;
    text-align: center;
    &:hover{
      box-shadow: 0px 0px 10px 0px rgb(206, 206, 206);
    }
    border-radius: 35px;
    margin: 20px 0;
    .follow-img {
      width: 132px;
      height: 132px;
      margin: 25px auto 10px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .follow-content {
      line-height: 30px;
      margin-bottom: 15px;
      h3 {
        color: $text-color;
        font-size: 20px;
      }
      p {
        color: $text-color;
        font-size: 13px;
      }
      h4 {
        color: $text-color;
        font-size: 16px;
      }
    }
    .follow-message {
      .myprofile{
        padding: 8px 5px !important;
        background-color: green;
        width: 130px !important;
      }
      margin-bottom: 15px;
      a {
        display: inline-block;
        width: 110px;
        padding: 5px 5px;
        border-radius: 40px;
        background-color: $btn-color;
        color: white;
        font-size: 18px;
        transition: 0.3s;
      }
      .follow-message-change-color {
        margin-left: 10px;
      }
      a:hover {
        color: white;
        background-color: $btn-hover;
      }
      .followed{
        background-color: $followed-color;
        &:hover{
          color: white;
          background-color: $unfollow-hover;
        }
      }
    }
  }
}
#login {
  width: 300px;
  margin: 50px auto;
  h1 {
    color: purple;
    font-family: "Lacquer", cursive;
    font-size: 45px;
  }
  .login-input {
    margin-top: 20px;
    label {
      display: block;
      font-size: 22px;
      color: $text-color;
    }
    input {
      padding-left: 25px;
      border-radius: 25px;
      height: 50px;
      width: 100%;
      margin-bottom: 16px;
      background-color: white;
      border: $border-light;
      &:focus {
        outline: 3px solid rgb(121, 235, 255);
      }
      font-size: 20px;
      color: gray;
    }
    button {
      display: inline-block;
      margin: 25px auto;
      border-radius: 40px;
      padding: 10px 20px;
      background-color: $btn-color;
      color: white;
      border: 0;
      font-size: 25px;
      cursor: pointer;
      &:hover{
        background-color: $btn-hover;
      }
    }
  }
  span {
    color: $text-color;
  }
  a {
    color: rgb(97, 97, 245);
    border-radius: 30px;
    display: inline-block;
    margin-left: 15px;
    font-size: 20px;
  }
}
#register {
  width: 300px;
  margin: 30px auto;
  h1 {
    color: purple;
    font-family: "Lacquer", cursive;
    font-size: 45px;
  }
  .login-input {
    margin-top: 20px;
    label {
      display: block;
      font-size: 18px;
      color: $text-color;
    }
    input {
      padding-left: 25px;
      margin-bottom: 10px;
      border-radius: 25px;
      background-color: white;
      height: 40px;
      width: 100%;
      border: $border-light;
      &:focus {
        outline: 3px solid rgb(121, 235, 255);
      }
      font-size: 20px;
      color: gray;
    }
    button {
      display: inline-block;
      margin: 25px auto;
      border-radius: 45px;
      padding: 10px 20px;
      background-color: $btn-color;
      color: white;
      border: 0;
      font-size: 25px;
      cursor: pointer;
      &:hover{
        background-color: $btn-hover;
      }
    }
  }
  span {
    color: $text-color;
  }
  a {
    color: rgb(97, 97, 245);
    border-radius: 30px;
    display: inline-block;
    margin-left: 15px;
    font-size: 20px;
  }
}
#userprofilepostnot{
  span{
    font-size: 25px;
    padding: 30px;
    color: $text-color;
    display: block;
    text-align: center;
  }
}
#chatsdevelopment{
  margin-top: 100px;
  span{
    display: block;
    text-align: center;
    font-size: 35px;
    padding: 50px;
    color: $text-color;
  }
}
.likes-comment {
  .likes-comment-top {
    @include flex;
    justify-content: space-evenly !important;
    margin: 15px 0;
    a {
      color: $text-color;
      padding: 10px 50px;
      display: inline-block;
      border-radius: 35px;
      background-color: $theme;
      border: $border-light;
    }
    .active {
      color: white;
      background-color: $btn-color;
      border: 0;
    }
  }
  .likes-comment-con {
    padding-top: 15px;
    max-height: 520px;
    overflow: auto;
    .likeby {
      margin: 10px 40px 20px 40px;
      border-bottom: rgb(133, 133, 133) solid 1px;
      @include flex;
      justify-content: flex-start !important;
      gap: 20px;
      padding-bottom: 20px;
      img {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
      h4 {
        font-size: 18px;
        color: $text-color;
      }
    }
    .comment-post {
      padding-left: 25px;
      input {
        border-radius: 30px;
        width: 50%;
        height: 40px;
        border: 0.5px solid rgb(147, 147, 147); 
        padding-left: 25px;
        color: gray;
        &:focus {
          outline: 3px solid skyblue;
          border: 0;
        }
        margin: 0 20px 20px 40px;
      }
      button {
        padding: 10px 20px;
        border-radius: 40px;
        background-color: rgb(54, 164, 54);
        color: white;
        border: 0;
        font-size: 18px;
        cursor: pointer;
        transition: .3s;
        &:hover{
          background-color: $your-profile-hover;
        }
      }
    }
    .comment-single {
      margin: 10px 40px 20px;
      > div {
        @include flex;
        align-items: flex-start !important;
        justify-content: flex-start !important;
        gap: 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid gray;
        margin-bottom: 20px;
      }
      img {
        @include round-image(50px, 50px);
        object-fit: cover;
      }
      h4 {
        color: $text-color;
      }
      p {
        color: $text-color;
      }
      button {
        border: 0;
        padding: 5px 15px;
        border-radius: 25px;
        background-color: $followed-color;
        color: white;
        cursor: pointer;
        transition: .3s;
        &:hover{
          background-color: $unfollow-hover;
        }
      }
    }
  }
}
.profile-card {
    padding: 20px;
  .profile-info-top {
    @include flex;
    .profile-page-img {
      img {
        @include round-image(90px, 90px);
        object-fit: cover;
      }
    }
    .profile-info-status {
      @include flex;
      gap: 15px;
      a {
        color: $text-color;
        text-align: center;
      }
    }
  }
  .profile-work,
  .profile-bio {
    p {
      color: $text-color;
      width: 300px;
    }
  }
  .profile-name {
    @include flex;
    span {
      font-size: 20px;
      color: $text-color;
      font-weight: 600;
    }
    .notmyprofile{
      visibility: hidden !important;
    }
    a{
      border-radius: 30px;
      padding: 10px 20px;
      font-size: 16px;
      color: white;
      background-color: $btn-color;
      transition: .3s;
      &:hover{
        background-color: $btn-hover;
      }
    }
  }
  .profile-work {
    p {
      color: $text-color !important;
    }
  }
  .profile-bio {
    p {
      color: $text-color !important;
    }
  }
  .other-profile-follow-message{
    @include flex;
    justify-content: flex-start !important;
    gap: 10px;
    margin-top: 10px;
    a{
      display: block;
      padding: 10px 20px;
      border-radius: 30px;
      color: white;
      background-color: $btn-color;
      transition: .3s;
      &:hover{
        background-color: $btn-hover;
      }
    }

    .followed{
      background-color: green;
      &:hover{
        background-color: $your-profile-hover;
      }
    }
  }
}
.follow-following {
    width: 100%;
  .follow-following-box {
    .follow-following-box-nav{
        width: 100%;
        @include flex;
        justify-content: space-evenly !important;
        padding: 15px 0;
        >a {
          color: $text-color;
          display: inline-block;
          padding: 10px 30px;
          border-radius: 35px;
          border: $border-light;
          background-color: $theme;
        }
    }
    .active {
        color: white !important;
        background-color: $btn-color !important;
        border: 0 !important;
      }
    .follow-following-follow{
        padding: 0px 50px;
        overflow: auto;
        max-height: 245px;
        padding-bottom: 15px;
        .follow-following-follow-single{
            @include flex;
            border-bottom: 1px solid gray;
            padding: 15px 0;
            .following{
              background-color: $followed-color !important;
              transition: .3s;
              &:hover{
                background-color: $unfollow-hover !important;
              }
            }
            .follow-following-follow-single-profile{
                @include flex;
                gap: 10px;
                img{
                    @include round-image(50px,50px);
                    object-fit: cover;
                }
                span{
                  a{color: $text-color;}
                    
                    font-size: 16px;
                }
            }
            button{
                color: white;
                border: 0;
                padding: 10px 20px;
                background-color: $btn-color;
                border-radius: 25px;
                font-size: 16px;
                cursor: pointer;
                transition: .3s;
                &:hover{
                  background-color: $btn-hover;
                }
            }
            .me{
              background-color: green;
              transition: .3s;
              &:hover{
                background-color: $your-profile-hover;
              }
            }
        }
    }
  }
}
.profile-edits{
  .flex{
    align-items: flex-start;
  }
  .content{
    width: 30%;
  }
  #pe-pp{
    display: none;
  }
  #labelforprofile{
    cursor: pointer;
    text-align: center;
    margin: 15px 0;
    border: 1px solid gray;
    border-radius: 10px;
    i{
      color: $icon-color;
      display: block;
      font-size: 25px;
    }
  }
  .profile-dis,.profile-password,.profile-pic{
    img{
      width: 200px;
      display: block;
      margin-bottom: 15px;
    }
    h4{
      color: $text-color;
      margin-bottom: 20px;
      font-size: 20px;
      text-align: center;
    }
    form{
      padding: 15px 25px;
      label{
        font-size: 17px;
        color: $text-color;
        display: block;
      }
      input{
        width: 300px;
        height: 40px;
        margin-bottom: 10px;
        color: $text-color;
        font-size: 17px;
        padding: 0px 15px;
        border-radius: 30px;
        border: 0;
        display: block;
        background-color: $input-color;
        &:focus{
          outline: 2px solid rgb(111, 227, 227);
          border: 0;
        }
      }
      button{
        padding: 10px 30px;
        font-size: 19px;
        color: white;
        background-color: $btn-color;
        border: 0;
        border-radius: 35px;
        cursor: pointer;
      }
      #pe-bio{
        height: 80px !important;
        display: block;
        margin-bottom: 10px;
        width: 270px;
        font-size: 17px;
        color: $text-color;
        background-color: $input-color;
        border: 0;
        padding: 10px;
        border-radius: 15px;
        &:focus{
          outline: 2px solid rgb(116, 199, 200);
          border: 0;
        }
      }
    }
  }
}