* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  padding-bottom: 50px;
  background-color: $background-color;
  scroll-behavior: smooth;
}
a {
  text-decoration: none !important;
}
ul {
  list-style: none;
}
header {
  @include flex;
  background-color: $theme;
  padding: 10px 50px;
  position: sticky;
  border-bottom: $border-light;
  top: 0;
  z-index: 999;
  .logo {
    h2 {
      color: purple;
      font-size: 38px;
      font-family: "Lacquer", cursive;
    }
  }
  .search-box {
    padding-right: 10%;
    form {
      input {
        color: $input-text-color;
        width: 300px;
        padding-left: 25px;
        height: 40px;
        border-radius: 40px;
        border: $border-light;
        background-color: $input-color;
      }
      input:focus {
        outline: 3px solid rgb(108, 184, 197);
        border: none;
      }
      button {
        border: 0;
        background-color: $theme;
        cursor: pointer;
        margin-left: 5px;
      }
      i {
        font-size: 20px;
        color: $icon-color;
        margin-left: 15px;
      }
    }
  }
  .notification {
    @include flex;
    .all-notification {
      border-left: 1px solid gray;
      padding-left: 40px;
      color: $icon-color;
      font-size: 20px;
      position: relative;
      cursor: pointer;
      i::after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: red;
        right: 0px;
        top: 0px;
      }
    }
    .message-notification {
      padding-right: 40px;
      color: $icon-color;
      font-size: 20px;
      position: relative;
      cursor: pointer;
      i::after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: green;
        left: 12px;
        top: 0px;
      }
    }
  }
  .header-profile {
    @include flex;
    gap: 5px;
    cursor: pointer;
    position: relative;
    &::selection {
      color: none;
    }
    img {
      @include round-image(35px, 35px);
      object-fit: cover;
    }
    p {
      color: $icon-color;
      &::selection {
        color: none;
      }
      transition: 0.4s;
      &:hover {
        color: skyblue;
      }
    }
    i {
      color: $icon-color;
    }
    .header-profile-dropdown {
      display: none;
      position: absolute;
      left: 0px;
      bottom: -165px;
      ul {
        background-color: $theme;
        padding: 15px 0;
        border-radius: 15px;
        width: 180px;
        box-shadow: 0px 0px 8px 0px rgb(193, 193, 193);
        li {
          line-height: 40px;

          transition: 0.4s;
          &:hover {
            background-color: gray;
          }
          a {
            width: 100%;
            padding: 0 25px;
            display: inline-block;
            &:hover i {
              color: white;
            }
            &:hover p {
              color: white !important;
            }
            div {
              i {
                font-size: 25px;
              }
              p {
                display: inline;
                padding-left: 10px;
                font-size: 18px;
                color: $text-color;
              }
            }
          }
        }
      }
    }
  }
}
aside {
  width: 20%;
  height: 100vh;
  background-color: $theme;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 998;
  overflow: auto;
  .side-profile {
    margin: 100px 0 20px 0;
    .side-profile-image {
      width: 130px;
      margin: 0 auto;
      position: relative;
    }
    img {
      @include round-image(130px, 130px);
      object-fit: cover;
    }
    h4 {
      color: $text-color;
      font-size: 24px;
      text-align: center;
    }
    .side-profile-image::after {
      content: "";
      position: absolute;
      @include round-image(20px, 20px);
      border: 5px rgb(77, 77, 77) solid;
      background-color: rgb(9, 241, 9);
      right: 20px;
      bottom: 10px;
    }
  }
  nav {
    ul {
      .active {
        font-size: 24px;
        display: block;
        width: 100%;
        border-radius: 0 40px 40px 0;
        color: white;
        background-color: $btn-color;
        &:hover {
          color: white !important;
        }
      }
      li {
        line-height: 60px;
        width: 100%;

        a {
          font-size: 24px;
          color: $text-color;
          display: block;
          width: 100%;
          border-radius: 0 40px 40px 0;
          padding-left: 40px;
        }
      }
    }
  }
}
.container-mine {
  width: 80%;
  margin-left: 20%;
  background-color: $background-color;
}
.align-items-start {
  align-items: flex-start !important;
}
.justify-content-start {
  justify-content: flex-start !important;
}
.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: space-evenly;
}
.flex {
  @include flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start !important;
  .content-column1 {
    width: 40%;
    .content {
      margin-bottom: 40px !important;
      width: 100% !important;
    }
  }
  .content-column2 {
    width: 40%;
    .content {
      margin-bottom: 40px !important;
      width: 100% !important;
    }
  }
}
.flex-start {
  align-items: start !important;
}
.notfound {
  font-size: 20px;
  text-align: center;
  color: $text-color !important;
  padding: 30px 0;
}
.show-dropdown {
  display: block !important;
}
.show-content-dropdown {
  display: block !important;
}
.content {
  background-color: $content-color;
  margin-top: 25px;
  margin-bottom: 15px;
  width: 40%;
  border-radius: 20px;
}
.content-image-show-like {
  visibility: visible !important;
  opacity: 1 !important;
  bottom: 25px !important;
}
.swiper-button-prev {
  left: 50px !important;
  top: 10% !important;
  height: 80% !important;
}
.swiper-button-next {
  top: 10% !important;
  right: 50px !important;
  height: 80% !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 150px !important;
  padding: 40px !important;
  opacity: 0;
  height: 100%;
}
.swiper-pagination {
  display: inline;
  padding: 10px !important;
  background: #373737 !important;
  border-radius: 30px !important;
}
.swiper-pagination-fraction {
  position: absolute;
  z-index: 100;
  right: 10px !important;
  top: 10px !important;
  color: white;
  font-size: 13px;
  width: 50px !important;
}
.searchresultname {
  padding-top: 15px;

  color: $text-color;
  font-size: 20px;
  background-color: rgb(80, 80, 80);
  display: block;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}
.noposts {
  padding: 50px 50px;
  margin-top: 120px;
  p {
    color: $text-color;
    font-size: 22px;
  }
}
.show-all {
  max-height: none !important;
}
input::placeholder{
  color: rgb(185, 185, 185);
  opacity: 1;
}
textarea::placeholder{
  color: rgb(185, 185, 185);
  opacity: 1;
}
a {
  p {
    transition: 0.5s;
  }
  transition: 0.5s;
  &:hover,
  &:hover p {
    color: skyblue !important;
  }
}
#home {
  .container-mine {
    .content-profile {
      @include flex;
      justify-content: space-between;
      padding: 10px 30px 5px 20px;
      > div {
        a {
          display: block;
          @include flex;
          justify-content: flex-start !important;
          flex-wrap: nowrap;
        }
      }
      img {
        @include round-image(40px, 40px);
        margin-right: 10px;
        object-fit: cover;
        display: block;
      }
      p {
        color: $text-color;
      }
      i {
        color: $icon-color;
        text-align: center;
        cursor: pointer;
      }
    }
    .content-image {
      position: relative;
      .image {
        img {
          width: 100%;
        }
      }
      .likes {
        position: absolute;
        left: 20px;
        bottom: -5px;
        display: flex;
        align-items: center;
        gap: 30px;
        visibility: hidden;
        opacity: 0;
        z-index: 99;
        a {
          color: white;
        }
        i {
          font-size: 32px;
          font-weight: bold;
          color: white;
          cursor: pointer;
        }
        transition: 0.4s;
      }
      .save {
        position: absolute;
        right: 20px;
        bottom: 0px;
        opacity: 0.5;
        visibility: hidden;
        i {
          color: white;
          font-size: 32px;
          cursor: pointer;
        }
        transition: 0.4s;
      }
    }
    .content-image:hover .likes,
    .content-image:hover .save {
      visibility: visible;
      opacity: 1;
      bottom: 25px;
      z-index: 99;
    }
    .content-info {
      padding: 0 15px;
    }
    .content-likes {
      p {
        color: $text-color;
        font-size: 12px;
      }
    }
    .content-discription {
      position: relative;
      p {
        color: $text-color;
        font-size: 15px;
        line-height: $line-height;
        margin: 5px 0;
        max-height: $max-lines * $line-height;
        overflow: hidden;
        word-wrap: break-word;
      }
      .show-text {
        appearance: none;
        position: absolute;
        bottom: -20px;
        right: 15px;
        &:hover::before {
          color: skyblue;
        }
        &::before {
          content: "more";
          font-size: 15px;
          cursor: pointer;
          color: rgb(181, 181, 181);
          transition: 0.4s;
        }
        &:checked::before {
          content: "show less" !important;
        }
      }
    }
    .content-comment {
      padding-bottom: 3px;
      a {
        color: $text-color;
        font-size: 13px;
      }
    }
  }
}
#explore {
  .flex {
    align-items: stretch !important;
  }
  .content {
    width: 28%;
    &:hover {
      box-shadow: 0px 0px 10px 0px rgb(206, 206, 206);
    }
    border-radius: 30px;
    margin: 20px 0;
    .explore-img {
      margin: 25px auto 10px;
      width: 80%;
      img {
        width: 100%;
        border-radius: 5%;
        object-fit: cover;
        height: 181px;
      }
    }
    h4 {
      color: $text-color;
      margin-left: 30px;
      font-size: 24px;
    }
    p {
      color: $text-color;
      margin-left: 30px;
      font-size: 16px;
      margin-bottom: 15px;
    }
  }
}
#follow {
  .content {
    width: 100%;
    padding: 0px 40px;
    text-align: center;
    &:hover {
      box-shadow: 0px 0px 10px 0px rgb(206, 206, 206);
    }
    border-radius: 35px;
    margin: 20px 0;
    .follow-img {
      width: 132px;
      height: 132px;
      margin: 25px auto 10px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .follow-content {
      line-height: 30px;
      margin-bottom: 15px;
      h3 {
        color: $text-color;
        font-size: 20px;
      }
      p {
        color: $text-color;
        font-size: 13px;
      }
      h4 {
        color: $text-color;
        font-size: 16px;
      }
    }
    .follow-message {
      .myprofile {
        padding: 8px 5px !important;
        background-color: green;
        width: 130px !important;
      }
      margin-bottom: 15px;
      a {
        display: inline-block;
        width: 110px;
        padding: 5px 5px;
        border-radius: 40px;
        background-color: $btn-color;
        color: white;
        font-size: 18px;
        transition: 0.3s;
      }
      .follow-message-change-color {
        margin-left: 10px;
      }
      a:hover {
        color: white !important;
        background-color: $btn-hover;
      }
      .followed {
        background-color: $followed-color;
        &:hover {
          color: white !important;
          background-color: $unfollow-hover;
        }
      }
    }
  }
}
#login {
  width: 300px;
  margin: 50px auto;
  .showpassword {
    position: relative;
    .showpasswordtext {
      position: absolute;
      top: 1px;
      right: 0px;
      border-radius: 0 20px 20px 0;
      background-color: white;
      i {
        cursor: pointer;
        font-size: 17px;
        padding: 11px 8px;
        display: block;
        color: $content-color;
        &:hover {
          color: $content-color !important;
        }
      }
    }
  }
  h1 {
    color: purple;
    font-family: "Lacquer", cursive;
    font-size: 45px;
  }
  .login-input {
    margin-top: 20px;
    label {
      display: block;
      font-size: 22px;
      color: $text-color;
    }
    input {
      padding-left: 25px;
      border-radius: 25px;
      height: 50px;
      width: 100%;
      margin-bottom: 16px;
      background-color: white;
      border: $border-light;
      &:focus {
        outline: 3px solid rgb(121, 235, 255);
      }
      font-size: 20px;
      color: gray;
    }
    button {
      display: inline-block;
      margin: 25px auto;
      border-radius: 40px;
      padding: 10px 20px;
      background-color: $btn-color;
      color: white;
      border: 0;
      font-size: 25px;
      cursor: pointer;
      &:hover {
        background-color: $btn-hover;
      }
    }
  }
  span {
    color: $text-color;
  }
  a {
    color: rgb(97, 97, 245);
    border-radius: 30px;
    display: inline-block;
    margin-left: 15px;
    font-size: 20px;
  }
}
#register {
  width: 300px;
  margin: 30px auto;
  .showpassword {
    position: relative;
    .showpasswordtext {
      position: absolute;
      top: 0px;
      right: 0px;
      border-radius: 0 20px 20px 0;
      background-color: white;
      i {
        cursor: pointer;
        font-size: 17px;
        padding: 7px 8px;
        display: block;
        color: $content-color;
        &:hover {
          color: $content-color !important;
        }
      }
    }
  }
  h1 {
    color: purple;
    font-family: "Lacquer", cursive;
    font-size: 45px;
  }
  .login-input {
    margin-top: 20px;
    label {
      display: block;
      font-size: 18px;
      color: $text-color;
    }
    input {
      padding-left: 25px;
      margin-bottom: 10px;
      border-radius: 25px;
      background-color: white;
      height: 40px;
      width: 100%;
      border: $border-light;
      &:focus {
        outline: 3px solid rgb(121, 235, 255);
      }
      font-size: 20px;
      color: gray;
    }
    button {
      display: inline-block;
      margin: 25px auto;
      border-radius: 45px;
      padding: 10px 20px;
      background-color: $btn-color;
      color: white;
      border: 0;
      font-size: 25px;
      cursor: pointer;
      &:hover {
        background-color: $btn-hover;
      }
    }
  }
  span {
    color: $text-color;
  }
  a {
    color: rgb(97, 97, 245);
    border-radius: 30px;
    display: inline-block;
    margin-left: 15px;
    font-size: 20px;
  }
}
#userprofilepostnot {
  span {
    font-size: 25px;
    padding: 30px;
    color: $text-color;
    display: block;
    text-align: center;
  }
}
#chatsdevelopment {
  margin-top: 100px;
  span {
    display: block;
    text-align: center;
    font-size: 35px;
    padding: 50px;
    color: $text-color;
  }
}
.likes-comment {
  .likes-comment-top {
    @include flex;
    justify-content: space-evenly !important;
    margin: 15px 0;
    a {
      color: $text-color;
      padding: 10px 50px;
      display: inline-block;
      border-radius: 35px;
      background-color: $theme;
      border: $border-light;
    }
    .active {
      color: white;
      background-color: $btn-color;
      border: 0;
      &:hover {
        color: white !important;
      }
    }
  }
  .likes-comment-con {
    padding-top: 15px;
    max-height: 520px;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    .likeby {
      margin: 10px 40px 20px 40px;
      border-bottom: rgb(133, 133, 133) solid 1px;
      @include flex;
      justify-content: flex-start !important;
      gap: 20px;
      padding-bottom: 20px;
      img {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
      h4 {
        font-size: 18px;
        color: $text-color;
      }
    }
    .comment-post {
      padding-left: 25px;
      input {
        border-radius: 30px;
        width: 50%;
        height: 40px;
        border: 0.5px solid rgb(147, 147, 147);
        padding-left: 25px;
        color: gray;
        &:focus {
          outline: 3px solid skyblue;
          border: 0;
        }
        margin: 0 20px 20px 40px;
      }
      button {
        padding: 10px 20px;
        border-radius: 40px;
        background-color: rgb(54, 164, 54);
        color: white;
        border: 0;
        font-size: 18px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: $your-profile-hover;
        }
      }
    }
    .comment-single {
      margin: 10px 40px 20px;
      > div {
        @include flex;
        align-items: flex-start !important;
        justify-content: flex-start !important;
        gap: 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid gray;
        margin-bottom: 20px;
      }
      img {
        @include round-image(50px, 50px);
        object-fit: cover;
      }
      h4 {
        color: $text-color;
      }
      p {
        color: $text-color;
      }
      button {
        border: 0;
        padding: 5px 15px;
        border-radius: 25px;
        background-color: $followed-color;
        color: white;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: $unfollow-hover;
        }
      }
    }
  }
}
.profile-card {
  padding: 20px;
  .profile-info-top {
    @include flex;
    .profile-page-img {
      img {
        @include round-image(90px, 90px);
        object-fit: cover;
      }
    }
    .profile-info-status {
      @include flex;
      gap: 15px;
      a {
        color: $text-color;
        text-align: center;
        &:hover {
          color: white !important;
        }
      }
    }
  }
  .profile-work,
  .profile-bio {
    p {
      color: $text-color;
      width: 300px;
    }
  }
  .profile-name {
    @include flex;
    span {
      font-size: 20px;
      color: $text-color;
      font-weight: 600;
    }
    .notmyprofile {
      visibility: hidden !important;
    }
    a {
      border-radius: 30px;
      padding: 10px 20px;
      font-size: 16px;
      color: white;
      background-color: $btn-color;
      transition: 0.3s;
      &:hover {
        background-color: $btn-hover !important;
        color: white !important;
      }
    }
  }
  .profile-work {
    p {
      color: rgb(209, 209, 209) !important;
    }
  }
  .profile-bio {
    p {
      color: rgb(176, 176, 176) !important;
      font-size: 14px;
    }
  }
  .other-profile-follow-message {
    @include flex;
    justify-content: flex-start !important;
    gap: 10px;
    margin-top: 10px;
    a {
      display: block;
      padding: 10px 20px;
      border-radius: 30px;
      color: white;
      background-color: $btn-color;
      transition: 0.3s;
      &:hover {
        background-color: $btn-hover;
        color: white !important;
      }
    }

    .followed {
      background-color: green;
      &:hover {
        background-color: $your-profile-hover;
        color: white !important;
      }
    }
  }
}
.follow-following {
  width: 100%;
  .follow-following-box {
    .follow-following-box-nav {
      width: 100%;
      @include flex;
      justify-content: space-evenly !important;
      padding: 15px 0;
      > a {
        color: $text-color;
        display: inline-block;
        padding: 10px 30px;
        border-radius: 35px;
        border: $border-light;
        background-color: $theme;
      }
    }
    .active {
      color: white !important;
      background-color: $btn-color !important;
      border: 0 !important;
    }
    .follow-following-follow {
      padding: 0px 50px;
      overflow: auto;
      scroll-behavior: smooth;
      scrollbar-width: thin;
      max-height: 260px;
      padding-bottom: 15px;
      .follow-following-follow-single {
        @include flex;
        border-bottom: 1px solid gray;
        padding: 15px 0;
        .following {
          background-color: $followed-color !important;
          transition: 0.3s;
          &:hover {
            background-color: $unfollow-hover !important;
          }
        }
        .follow-following-follow-single-profile {
          @include flex;
          gap: 10px;
          img {
            @include round-image(50px, 50px);
            object-fit: cover;
          }
          span {
            a {
              color: $text-color;
            }

            font-size: 16px;
          }
        }
        button {
          color: white;
          border: 0;
          padding: 10px 20px;
          background-color: $btn-color;
          border-radius: 25px;
          font-size: 16px;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            background-color: $btn-hover;
          }
        }
        .me {
          background-color: green;
          transition: 0.3s;
          &:hover {
            background-color: $your-profile-hover;
          }
        }
      }
    }
  }
}
.profile-edits {
  .showpassword {
    position: relative;
    .showpasswordtext {
      position: absolute;
      top: 0px;
      right: 5px;
      border-radius: 0 20px 20px 0;
      background-color: rgb(162, 162, 162);
      i {
        cursor: pointer;
        font-size: 17px;
        padding: 7px 8px;
        display: block;
        color: $content-color;
        &:hover {
          color: $content-color !important;
        }
      }
    }
  }
  .flex {
    align-items: flex-start;
  }
  .content {
    width: 30%;
  }
  #pe-pp {
    display: none;
  }
  #labelforprofile {
    cursor: pointer;
    text-align: center;
    margin: 15px 0;
    border: 1px solid gray;
    border-radius: 10px;
    i {
      color: $icon-color;
      display: block;
      font-size: 25px;
    }
  }
  .profile-dis,
  .profile-password,
  .profile-pic {
    img {
      width: 200px;
      display: block;
      margin-bottom: 15px;
    }
    h4 {
      color: $text-color;
      margin-bottom: 20px;
      font-size: 20px;
      text-align: center;
    }
    form {
      padding: 15px 25px;
      label {
        font-size: 17px;
        color: $text-color;
        display: block;
      }
      input {
        width: 300px;
        height: 40px;
        margin-bottom: 10px;
        color: $text-color;
        font-size: 17px;
        padding: 0px 15px;
        border-radius: 30px;
        border: 0;
        display: block;
        background-color: $input-color;
        &:focus {
          outline: 2px solid rgb(111, 227, 227);
          border: 0;
        }
      }
      button {
        padding: 10px 30px;
        font-size: 19px;
        color: white;
        background-color: $btn-color;
        border: 0;
        border-radius: 35px;
        cursor: pointer;
      }
      #pe-bio {
        height: 80px !important;
        display: block;
        margin-bottom: 10px;
        width: 270px;
        font-size: 17px;
        color: $text-color;
        background-color: $input-color;
        border: 0;
        padding: 10px;
        border-radius: 15px;
        scrollbar-width: none;
        resize: none;
        cursor: text;
        &:focus {
          outline: 2px solid rgb(116, 199, 200);
          border: 0;
        }
      }
    }
  }
}
.uploadpost {
  width: 80% !important;
  padding: 25px 4%;
  p {
    color: $text-color;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .imagepreview {
    position: relative;
    .clearpreview {
      position: absolute;
      right: 10px;
      top: 50px;
      color: white;
      background-color: coral;
      padding: 5px 10px;
      font-size: 17px;
      border: 0;
      cursor: pointer;
    }
    .imagepreviewbox {
      max-height: 500px;
      overflow: auto;
      margin-bottom: 30px;
      scroll-behavior: smooth;
      scrollbar-width: thin;
      margin-top: 5px;
      border: 1px solid gray;
    }
    img {
      margin-right: 0.5%;
      width: 32.5%;
    }
    p {
      font-size: 20px;
      font-weight: normal;
      position: sticky;
      margin-top: 10px;
      left: 0;
      top: -1px;
      z-index: 2;
      background-color: $content-color;
      padding: 5px 0;
    }
  }
  .selectimageform {
    form {
      label {
        color: $text-color;
        text-align: center;
        border: 1px solid gray;
        display: block;
        padding: 30px 0;
        cursor: pointer;
        border-radius: 10px;
        font-size: 20px;
        input {
          display: none;
        }
        i {
          display: block;
          font-size: 25px;
        }
      }
    }
  }

  .imageuploadguide {
    p {
      font-weight: normal;
      font-size: 13px;
    }
  }
  .discatform {
    .selectimagecat,
    .discatformlabel {
      color: $text-color;
      display: block;
      font-size: 19px;
      margin: 10px 0;
    }
    #disform {
      resize: none;
      width: 100%;
      border-radius: 10px;
      border: 0;
      color: $text-color;
      padding: 15px 10px 5px 10px;
      font-size: 22px;
      scroll-behavior: smooth;
      scrollbar-width: none;
      background-color: rgb(108, 108, 108);
      &:focus {
        outline: 3px solid rgb(107, 160, 181);
      }
      margin-bottom: 25px;
    }
    button {
      display: block;
      margin: auto;
      padding: 10px 25px;
      border: 0;
      margin-bottom: 30px;
      transition: 0.3s;
      cursor: pointer;
      background-color: $btn-color;
      &:hover {
        background-color: $btn-hover;
      }
      color: white;
      font-size: 18px;
      border-radius: 35px;
    }
  }
}
#catform {
  /* Customize the label (the container) */
  .catform {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    user-select: none;
    color: $text-color;
    margin-right: 155px;
    width: 60px;
  }

  /* Hide the browser's default checkbox */
  .catform input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .catform:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .catform input:checked ~ .checkmark {
    background-color: #2196f3;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .catform input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .catform .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
}
.popup {
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0%;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: $content-color;
    margin-left: auto;
    margin-right: 25%;
    padding: 0;
    border-radius: 25px;
    border: 1px solid $content-color;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  .popupmsg {
    color: $text-color;
    font-size: 18px;
    padding-bottom: 5px;
  }

  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  /* The Close Button */
  .close {
    color: $text-color;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: 0.4s;
  }

  .close:hover,
  .close:focus {
    color: gray;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-header {
    padding: 2px 16px;
    color: $text-color;
    margin-top: 25px;
  }

  .modal-body {
    padding: 2px 16px;
    margin-bottom: 25px;
    margin-top: 15px;
    label {
      color: $text-color;
      font-size: 19px;
      display: inline-block;
      margin-top: 0px;
    }
    textarea {
      width: 100%;
      margin: 0px 0 10px 0;
      resize: none;
      color: $text-color;
      font-size: 18px;
      padding: 10px;
      background-color: rgb(91, 91, 91);
      border: 0;
      &:focus {
        outline: 3px solid rgb(68, 125, 148);
      }
    }
    button {
      color: $text-color;
      background-color: $content-color;
      cursor: pointer;
      padding: 10px 30px;
      width: 100%;
      font-size: 18px;
      margin: 15px auto;
      border-top: 1px solid gray;
      border-bottom: 1px solid gray;
      border-right: 0;
      border-left: 0;
      display: block;
      transition: 0.4s;
      &:hover {
        color: white;
        background-color: gray;
      }
    }
  }
}

#more {
  .content {
    padding: 20px 30px;
    label {
      color: $text-color;
      font-size: 19px;
      display: block;
      margin-left: 5px;
    }
    textarea {
      width: 100%;
      border: 0;
      color: white;
      background-color: #666666;
      padding: 3px 8px;
      font-size: 17px;
      height: 83px;
      border-radius: 8px;
      scroll-behavior: smooth;
      scrollbar-width: none;
      resize: none;
      margin: 10px 0;
      &:focus {
        border: 0;
        outline: 3px solid rgb(79, 124, 142);
      }
    }
    .links {
      margin: 20px 0;
      padding: 15px;
      border: 1px solid gray;
      border-radius: 10px;
      @include flex;
      flex-wrap: wrap;
      span {
        color: $text-color;
        font-size: 18px;
        display: block;
      }
      a {
        display: block;
        color: white;
        padding: 5px 10px;
        background-color: $btn-color;
        text-align: center;
        &:hover {
          color: white !important;
          background-color: $btn-hover !important;
        }
      }
    }
    .moresearch {
      margin-bottom: 10px;
      input {
        width: 80%;
        height: 40px;
        border-radius: 30px;
        border: 0;
        color: white;
        background-color: #666666;
        padding: 0 15px;
        &:focus {
          border: 0;
          outline: 3px solid rgb(79, 124, 142);
        }
      }
      button {
        border: 0;
        background-color: $content-color;
        margin-left: 10px;
        cursor: pointer;
        padding: 10px;
        i {
          font-size: 20px;
          color: $icon-color;
        }
      }
    }
    .moresuggestion {
      form {
        > div {
          position: relative;
        }
      }
      button {
        color: white;
        position: absolute;
        bottom: 0;
        right: 0;
        border: 0;
        padding: 5px 10px;
        display: inline-block;
        font-size: 18px;
        margin-bottom: 15px;
        transition: 0.4s;
        border-radius: 5px;
        background-color: $btn-color;
        cursor: pointer;
        &:hover {
          background-color: $btn-hover;
        }
      }
    }
    h4 {
      color: $text-color;
      margin-top: 8px;
    }
    p {
      color: rgb(184, 184, 184);
    }
  }
}
