// font-family: 'Kurale', serif;

// font-family: 'Lacquer', cursive;
$theme: rgb(39, 39, 39);
$icon-color: rgb(204, 204, 204);
$background-color:rgb(48, 48, 48);
$content-color: rgb(70, 70, 70);
$btn-color: #68a4dd;
$text-color: rgb(220, 220, 220);
$input-color:rgb(102, 102, 102);
$input-text-color: rgb(230, 230, 230);
$text-hover: rgb(50, 107, 160);
$btn-hover:#395f82;
$border-light: 0;
$followed-color: rgb(183, 69, 69);
$unfollow-hover:rgb(120, 49, 49);
$your-profile-hover: rgb(3, 69, 3);
$line-height : 22px;
$max-lines: 2;