// font-family: 'Kurale', serif;

// font-family: 'Lacquer', cursive;
$theme: white;
$icon-color: rgb(92, 92, 92);
$background-color:white;
$content-color: white;
$btn-color: #408ED6;
$text-color: rgb(120, 120, 120);
$border-light: 0.5px solid rgb(220, 220, 220);
$input-color:white;
$input-text-color: gray;
$text-hover: purple;
